{% extends 'global/base.html' %}

        <div class="main-content container main-content-list">
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}
            {% include 'recipes/partials/recipe.html' %}

        </div>
